<p id="notice"><%= notice %></p>

<p>
  <strong>Ismatbarry@yahoo.fr:</strong>
  <%= @userbarry.ismatbarry@yahoo.fr %>
</p>

<%= link_to 'Edit', edit_userbarry_path(@userbarry) %> |
<%= link_to 'Back', userbarries_path %>
